.Entry-Caption {
   
  color: green;
  font-weight: 600;
  margin-top: 5rem;
}
.Adjust_text{
    margin-left: 4rem;
}

.Capture4 {
  width: 70rem;
}

nav {
  color: rgb(246, 246, 246) !important;
}

.format {
  background-color: rgb(11, 10, 10);
  max-width: 100%;
  max-height: 2rem;
  margin-top: 3rem;
}


.container{
  max-width: 100%;
  height: 50%;
  margin-top:7rem;
}

.lead1{display: flex;
  align-content: center;
justify-content: center;}


.lead2{
  background-color: rgb(18, 19, 18);
  height: 20rem;
  width:20rem;

  color: rgb(226, 230, 226);
  display: flex;
  align-items: center;
  justify-content: center;
 
  
}


.wallpaper3{
  background-image: url(../assets/imgs/uwp2886922.webp);
  height: 100vh;
 
}

.wallpaper{
  background-image: url(../assets/imgs/login\ image.jpg);
  height: 100vh;
}


